body{
	background: url(pizza5.jpg);
    background-size: cover;
    /*backdrop-filter: blur(4px);*/
    height: 100vh;
    margin:0px;
}

.adminform{
	padding: 10px;
    margin: 10%;
    height: 20%;
}
form{
	display:flex;
	flex-direction: column;
    align-items: flex-end;
    padding: 10px
}
form button{
	    width: 25%;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    background: #e23d2e;
    border: none;
    box-shadow: 0 15px 25px rgb(0 0 0 / 25%);
    color: white;
    font-size: larger;
    font-weight: 200;
}