body{
	background: url(pizza2.png);
    background-size: cover;
    /*backdrop-filter: blur(4px);*/	
    /*height: 100vh;*/
    margin:0px;
}

.changepassword{
	box-shadow: 0 15px 25px rgb(0 0 0 / 25%);
    border-radius: 25px;
    background: rgb(0,0,0,0.7);
    width: 20%;
    height: 24rem;
    margin: 10%;
    padding: 20px;
}
form{
	color: navajowhite;
    padding: 10px 20px;
    height: 80%;
}
form input{
	width: 15rem;
    height: 30px;
    /*margin: auto 20px auto 20px;*/
    /* border-radius: 5px; */
    /* border-color: transparent; */
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    color: whitesmoke;
    outline:none;
    font-size:large;
}
::-ms-reveal {
  filter: invert(100%);
}

form p{
    margin: 15px 0px 15px 0px;
    font-size: 24px;
    font-weight: bold;
}

form button{
	background-color: red;
    color: white;
    margin: 10% 0% 0% 0%;
    width: 96%;
    height: 15%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.Error{
	display:none;
}
h2{
	margin: 0% 0% 0% 0%;
    text-align: center;
    font-size: xx-large;
    color: red;
}